# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: NPM Package

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

jobs:
  increment-version:
    if: github.event.pull_request.merged == true || github.event.workflow_dispatch.sender != null
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Automated Version Bump
        uses: phips28/gh-action-bump-version@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          minor-wording: "update"
          target-branch: "main"

  publish-npm:
    needs: increment-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
